<%= turbo_stream_from dom_id(current_user) %>

<div>
  <div>
    <h1>Fetchly Chatroom</h1>
    <p>Hi, <%= current_user.username %></p>
  </div>
  <div>
    <%= render partial: 'messages/chatbox', locals: { messages: @messages } %>
  </div>
  <div>
  <%= render partial: 'messages/form', locals: { message: @message } %>
  </div>
</div>
